#cases-slider-tabs {
    margin-top: -20px;
}

.case-tab {
    position: relative;

    margin-top: 20px;
    padding: 30px 0;

    text-align: center;

    @media #{$small-only} {
        display: none;
    }



    &.selected, &.slick-center {
        color: $white;
        background: $action;

        @media #{$small-only} {
            display: block;
        }

        &:before {
            @include css-triangle(10px, $action, bottom);

            position: absolute;
            top: -20px;
            left: 50%;

            margin-left: -10px;
        }
    }
}