#tabbed-slider {
    .tabs {
        background: $paper-middle;
    }



    .case {
        position: relative;

        figure {
            height: 600px;

            @media #{$medium-only} {
                height: 500px;
            }

            @media #{$small-only} {
                height: 400px;
            }
        }


        .case-cta {
            position: absolute;
            top: 50%;

            width: 100%;

            transform: translateY(-50%);


            h1 {
                font-size: rem-calc(54);
                line-height: rem-calc(64);

                color: $white;
            }


            a {
                font-size: rem-calc(16);
                line-height: 1;

                display: inline-block;

                margin-top: 20px;
                padding: 10px 20px;

                text-transform: uppercase;

                border: 2px solid currentColor;
            }

            @media #{$small-only} {
                text-align: center;
            }
        }
    }
}