section {
    padding: 100px 0;

    .section-title {
        margin-top: 0;

        text-align: center;
    }

    .section-title-text {
        font-size: rem-calc(20);

        margin-top: 30px;

        text-align: center;
    }

    @media #{$small-only} {
        padding: 40px 0;
    }

    @media #{$medium-only} {
        padding: 70px 0;
    }
}

.no-padding {
    padding: 0;
}

.action-btn {
    display: inline-block;

    padding: 10px 20px;

    text-transform: uppercase;

    color: #ffffff;
    border-radius: 4px;
    background: $action;

    &:hover {
        text-decoration: none;

        color: #ffffff !important;
        background: darken($action, 5%);
    }
}

.stroke-btn {
    border: 2px solid $action;
    border-radius: 4px;
}

figure {
    margin: 0;
    padding: 0;
}

.content-container {
    height: 100%;

    @media #{$small-only} {
        height: auto;
    }
}

a {
    font-weight: 500;

    color: $action;

    &:hover {
        text-decoration: underline;

        color: darken($action, 5%);
    }
}