.stats {
    margin: 30px 0 0 0;
    padding: 0;

    list-style-type: none;


    li {
        display: inline-block;

        margin: 0 2%;
    }
    &__count {
        font-size: rem-calc(18);
        font-weight: 500;
        line-height: 80px;

        width: 100%;
        width: 80px;
        height: 80px;
        margin: 0 auto;

        text-align: center;

        border: 1px solid $black;
        border-radius: 50%;
    }

    &__label {
        //width: 80px;
        margin-top: 10px;

        text-align: center;
    }
}

.stats--white {
    .stats__count {
        border: 1px solid #ffffff;
    }
}